body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #232931;
    color: #fff;
}
p{
}
li:hover{
    font-size: 18px;
    color:#a3b183;
    cursor: pointer;
}
.infoDeclare{
    padding: 20px;
    border: 2px solid black;
    background-color: #313a46;
    border-radius: 20px;
}